/* Importing the Google Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* BASIC RESET */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	box-sizing: border-box;
	height: 100vh;
	overflow: hidden;
}

canvas {
	display: block;
	outline: none;
}

/* HEADER */
.header {
	background: linear-gradient(90deg, #00c4cc, #7d2ae8);
	display: flex;
	justify-content: space-between;
	padding: 2rem 2rem;
	height: 10vh;
	color: white;
}

.logo {
	font-weight: 700;
}

.logo span {
	font-weight: 400;
}
.reset-info span {
	color: black;
	font-weight: 700;
	margin: 0 1rem;
}
.container {
	height: 90vh;
	display: flex;
}

/*CUSTOMIZE OPTIONS*/
.customize {
	flex-basis: 35%;
	background-color: #293039;
	display: flex;
}
.sidebar {
	background-color: #0e1318;
	display: flex;
	flex-direction: column;
}

.textures {
	display: flex;
	flex-direction: column;
}

.textures img {
	width: 5rem;
	height: 5rem;
	border: 1px solid transparent;
	transition: all 0.2s ease;
}

.textures img:hover,
.textures img:focus {
	border: 1px solid #fff;
}

.chair-parts {
	margin-top: 7rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 2rem;
}

.chair-parts-list {
	color: white;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border: 1px solid #fff;
	transition: all 0.3s ease;
}
.chair-parts-list div {
	cursor: pointer;
}

.chair-parts-items {
	margin-top: 5rem;
}

.chair-parts .option img {
	width: 4rem;
	height: 4rem;
}

.customize-options {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.customize-items {
	flex-grow: 1;
}
.customize-options,
.materials,
.chair-parts-list {
	height: 5rem;
}

.customize-item {
	border-bottom: 1px solid transparent;
}

.materials {
	opacity: 0;
	pointer-events: none;
	display: flex;
	color: white;
	justify-content: space-evenly;
	align-items: center;
	border: 1px solid #fff;
	transition: all 0.3s ease;
}

.materials div {
	cursor: pointer;
}

.materials div:hover {
	color: orangered;
}

.item-name {
	margin-right: auto;
	margin-left: 2px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.item-add,
.item-remove {
	border: none;
	outline: none;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	padding: 0 1rem;
	align-self: stretch;
	text-transform: uppercase;
	font-weight: 500;
	cursor: pointer;
}

.item-add {
	background-color: yellowgreen;
}

.item-remove {
	background-color: orangered;
}

.main-area {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #edf0f2;
}

.stage {
	width: 50%;
	height: 60%;
}

.active {
	color: orangered;
}

.visible {
	opacity: 1;
	pointer-events: all;
}
